<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<div  class="box" (click)="toggle()">
<div id="move" class="headerimg" >
  <img class="logoImg" id="generaliLogo" src="../../assets/svg/register/aside-toggler-logo.png">
  <div class="coupleimg" id="couple">
    <img src="../../assets/svg/register/Group 1511.svg" >
  </div>
</div>
<div id="move" class="headerimgstyle">
  <div class="headerinnerdiv"></div>
</div>
</div>
<div class="landingtxt" *ngIf="hideLandingtxt">
  <ion-label (click)="loginShow()">LOGIN TO YOUR ACCOUNT</ion-label>
</div>
<div *ngIf="loginForm">
  <!--welcome section start-->
  <div class="logintext">
    <div class="welcometxtdiv">
      <ion-text class="welcometxt">Welcome to</ion-text><br />
      <ion-text class="welcometxt">Generali Global Health</ion-text>
    </div>
  </div>
  <!--welcome section end-->

  <!--name field start-->
  <div class="inputfield emailfield hidden" *ngIf="showRegister">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
    <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">  <image id="image0" width="22" height="22" x="0" y="0"
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAQAAABuvaSwAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
  AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
  RQfkAxcNLRT5R/sDAAAA5UlEQVQoz42TXZWDMBSEv1MFkYCDRQISKiEScNA6aB2Ag+BgIyEOwEFw
  MPvSAoGEZfKSnzlz78y5gRQVHRER6ag5hUWICU9AiEeZekeERa8mIGyeaojMmORmJiY3iW6baWuj
  fVt2NeB3ZA9UOfIFrOTpo75FDcx5gzPjzk5AeYPQItzyaHCIZ7mpHhFxPHBERF+mVnQoWd02iy2e
  CDHQ0tDQYBkQ4nU05xD+kEaFR/ymJvuT/t4Itx7tuRX6NRXDyFRK84PpO1C2PIhJbfstYv4hG8QA
  EA6zloMnwo2fC1R23+IK/gBtpVidexSAPwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0wMy0yM1Qx
  Mzo0NToyMCswMzowMHSbWYMAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjAtMDMtMjNUMTM6NDU6MjAr
  MDM6MDAFxuE/AAAAAElFTkSuQmCC" />
  </svg> -->
  <img class="iconsize" src="../../assets/svg/register/001-user.svg" >
</ion-col>
<ion-col size="11" class="fieldname">
  <div >
    <ion-input placeholder="Name"></ion-input>
  </div>
    </ion-col>
  </ion-row>
  </ion-grid>
  </div>
  <!--name field end-->

  <!--surname field start-->
  <div class="inputfield emailfield hidden" *ngIf="showRegister">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
    <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">  <image id="image0" width="22" height="22" x="0" y="0"
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAQAAABuvaSwAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
  AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
  RQfkAxcNLRT5R/sDAAAA5UlEQVQoz42TXZWDMBSEv1MFkYCDRQISKiEScNA6aB2Ag+BgIyEOwEFw
  MPvSAoGEZfKSnzlz78y5gRQVHRER6ag5hUWICU9AiEeZekeERa8mIGyeaojMmORmJiY3iW6baWuj
  fVt2NeB3ZA9UOfIFrOTpo75FDcx5gzPjzk5AeYPQItzyaHCIZ7mpHhFxPHBERF+mVnQoWd02iy2e
  CDHQ0tDQYBkQ4nU05xD+kEaFR/ymJvuT/t4Itx7tuRX6NRXDyFRK84PpO1C2PIhJbfstYv4hG8QA
  EA6zloMnwo2fC1R23+IK/gBtpVidexSAPwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0wMy0yM1Qx
  Mzo0NToyMCswMzowMHSbWYMAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjAtMDMtMjNUMTM6NDU6MjAr
  MDM6MDAFxuE/AAAAAElFTkSuQmCC" />
  </svg> -->
  <img class="iconsize" src="../../assets/svg/register/001-user.svg" >
</ion-col>
<ion-col size="11" class="fieldname">
  <div style="transition: all 0.3s ease;">
    <ion-input placeholder="Surname"></ion-input>
  </div>
  </ion-col>
</ion-row>
</ion-grid>
  </div>
  <!--surname field end-->

  <!--membership number field start-->
  <div class="inputfield emailfield hidden" *ngIf="showRegister">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
    <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="15px" viewBox="0 0 22 15" enable-background="new 0 0 22 15" xml:space="preserve">  <image id="image0" width="22" height="15" x="0" y="0"
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAPCAQAAABKZPfjAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
  AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
  RQfkAxcNLztgoKTYAAAAoklEQVQoz43R0RHBUBSE4Y/Ju3QgKpAO6EA6oAN0oINoQQXoQAlRAR24
  KoiHDMNMInfPy/9wZs+eWVKlh/rPHOXAwN7aVdCtmbtJg0Hlv/Zqc0iMTNWilODZ450Zv7F26THc
  vWMMI65/Pd/vnCoaiHOu4pdXbk0tibOFsrWU4CBYWWLt7ESm6iy6kH44MAC5tDXABbmNpa2Te0Rk
  c0EWs/ijFxTbRAucdc7GAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTAzLTIzVDEzOjQ3OjU5KzAz
  OjAw7zPFdAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wMy0yM1QxMzo0Nzo1OSswMzowMJ5ufcgA
  AAAASUVORK5CYII=" />
  </svg> -->
  <img class="iconsize" src="../../assets/svg/register/002-business-and-finance.svg">
</ion-col>
<ion-col size="11" class="fieldname">
    <ion-input placeholder="Membership Number"></ion-input>
    </ion-col>
  </ion-row>
  </ion-grid>

  </div>
  <!-- membership number field end-->

  <!--dob field start-->
  <div class="inputfield emailfield hidden" *ngIf="showRegister">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
    <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">  <image id="image0" width="22" height="22" x="0" y="0"
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAQAAABuvaSwAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
  AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
  RQfkAxcNMSbX5/feAAAApklEQVQoz+3TXQ3CMBiF4YdlAuoACZuDIQEJSAAFwwGTMAlIAAfgYCjY
  HIyLjYSfEcoNV7xNv6QnJ+35mpYba5VXqns1RZAhkytezMU4zzpYavUfR2sFjVrA1mEixmFUKy2J
  uXo4YqyPdKO6F6C3AGFYPnFTF/qhQW/3fVJnerHMUmycPhpzuyHGafIeJkiiQ/zNPzOnjsqI91G6
  QK6J+CmN/JsMuAIeSUPNLEMY+AAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0wMy0yM1QxMzo0OToz
  OCswMzowMJHi9/QAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjAtMDMtMjNUMTM6NDk6MzgrMDM6MDDg
  v09IAAAAAElFTkSuQmCC" />
  </svg> -->
  <img class="iconsize" src="../../assets/svg/register/003-calendar.svg">
</ion-col>
<ion-col size="11" class="fieldname">
  <div (click)="showDatepicker()">
    <ion-input [(ngModel)]="birthDate" placeholder="Date Of Birth"></ion-input>
  </div>
    </ion-col>
  </ion-row>
  </ion-grid>
  </div>
  <!--dob field end-->

  <!--email field start-->
  <div class="inputfield emailfield">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
    <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23px" height="17px" viewBox="0 0 23 17" enable-background="new 0 0 23 17" xml:space="preserve">  <image id="image0" width="23" height="17" x="0" y="0"
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAARCAQAAACcev82AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
    AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
    RQfkAxcNJg1+2IoIAAAAyUlEQVQoz5XSUVXDMBQG4I+dCSgKmAPmgDjAQiXgYMPBpmC1gALioHGw
    oaB1EB4Kha4tK8nbPV/uyX8TgrO8aL8r7lw8OGrdWsGTV7LsbHsDl7IsklWSRvgDH2SV2PG9QpKV
    M7iSvfDDv4u7ES3UfaMBZy87DfBWre1zXfEuUK3ocSP9GsKIE7RqG5QaqT/6xVdXd42Ce7Wdkzdh
    /B7D7l28JDuMYkdxPTG4VrCRpma6mipqp/Ecn13/5GsfnuVF9tGR4LLwv0fFJ9TJcGsx7nqcAAAA
    JXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTAzLTIzVDEzOjM4OjEzKzAzOjAwFznazgAAACV0RVh0ZGF0
    ZTptb2RpZnkAMjAyMC0wMy0yM1QxMzozODoxMyswMzowMGZkYnIAAAAASUVORK5CYII=" />
    </svg> -->
  <img class="iconsize" src="../../assets//svg/register/002-envelope.svg">
  </ion-col>
  <ion-col size="11" class="fieldname">
      <ion-input placeholder="Email ID"></ion-input>
      </ion-col>
    </ion-row>
    </ion-grid>
    <!-- <ion-input placeholder="Email ID"></ion-input> -->
  </div>
  <!--email filed end-->

  <!--password field start-->
  <div class="inputfield emailfield">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
    <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="24px" viewBox="0 0 18 24" enable-background="new 0 0 18 24" xml:space="preserve">  <image id="image0" width="18" height="24" x="0" y="0"
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAYCAQAAABdXGW6AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
  AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
  RQfkAxcNKhpRvkDDAAAAx0lEQVQoz62S0RGCMAyGPzje7QZ2A7uBjsAIjqATWCeQEdhAN5ANhAmo
  E+AG9QHESgtynslLkn79k2sKru24Ymk4oxixEkuORmOwbEOIxjr3CxpESCdzMulqxX15xcOBDCB9
  aMJmQQmKRRcvWX+cvfIqwn4V2sfAkWjCQfxv8B8h5a/Dh27+akPtZijNmqmiHJYS7gN55bUuIaee
  6LTDItrvpUcQSUPehhrLIYBsqDEIiDrRE4YC4yApiorUrUkyCmzvhsv7UZ9mQTPpAnqMJQAAACV0
  RVh0ZGF0ZTpjcmVhdGUAMjAyMC0wMy0yM1QxMzo0MjoyNiswMzowMPWXd8AAAAAldEVYdGRhdGU6
  bW9kaWZ5ADIwMjAtMDMtMjNUMTM6NDI6MjYrMDM6MDCEys98AAAAAElFTkSuQmCC" /></svg> -->
<img class="iconsize" src="../../assets/svg/register/password.svg">
</ion-col>
<ion-col size="11" class="fieldname">
    <ion-input placeholder="Password"></ion-input>
    </ion-col>
  </ion-row>
  </ion-grid>
  </div>
  <!--password field end-->

  <!--Confirm pass field start-->
  <div class="inputfield emailfield hidden" *ngIf="showRegister">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
    <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="24px" viewBox="0 0 18 24" enable-background="new 0 0 18 24" xml:space="preserve">  <image id="image0" width="18" height="24" x="0" y="0"
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAYCAQAAABdXGW6AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
  AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
  RQfkAxcNKhpRvkDDAAAAx0lEQVQoz62S0RGCMAyGPzje7QZ2A7uBjsAIjqATWCeQEdhAN5ANhAmo
  E+AG9QHESgtynslLkn79k2sKru24Ymk4oxixEkuORmOwbEOIxjr3CxpESCdzMulqxX15xcOBDCB9
  aMJmQQmKRRcvWX+cvfIqwn4V2sfAkWjCQfxv8B8h5a/Dh27+akPtZijNmqmiHJYS7gN55bUuIaee
  6LTDItrvpUcQSUPehhrLIYBsqDEIiDrRE4YC4yApiorUrUkyCmzvhsv7UZ9mQTPpAnqMJQAAACV0
  RVh0ZGF0ZTpjcmVhdGUAMjAyMC0wMy0yM1QxMzo0MjoyNiswMzowMPWXd8AAAAAldEVYdGRhdGU6
  bW9kaWZ5ADIwMjAtMDMtMjNUMTM6NDI6MjYrMDM6MDCEys98AAAAAElFTkSuQmCC" /></svg> -->
<img class="iconsize" src="../../assets/svg/register/password.svg">
</ion-col>
<ion-col size="11" class="fieldname">
    <ion-input placeholder="Confirm Password"></ion-input>
    </ion-col>
  </ion-row>
  </ion-grid>
  </div>
  <!--Confirm pass field end-->

  <!-- login check box start-->
  <div class="forgetdivv" *ngIf="showLogin">
    <div class="checkdiv">
      <ion-checkbox mode="md" slot="start" class="checkboxes"></ion-checkbox>
      <ion-label class="remforlable remembrtxt">Remember me</ion-label>
    </div>
    <div class="forgtdiv">
      <ion-label class="remforlable">Forget password?</ion-label>
    </div>
  </div>
  <!-- login check box end-->

  <!--register checkbox start-->
  <div class="forgetdiv" *ngIf="showRegister">
    <ion-checkbox mode="md" slot="start" class="checkboxes"></ion-checkbox>
    <ion-label class="remforlable remembrtxt"
      >I have read &and accept the <br />
      <span class="termtxt termcolor">Terms & Condition</span>
    </ion-label>
  </div>
  <div class="forgetdiv" *ngIf="showRegister">
    <ion-checkbox mode="md" slot="start" class="checkboxes"></ion-checkbox>
    <ion-label class="remforlable remembrtxt"
      >I consent to the processing of my <br />
      <span class="termtxt">information as describe <span class="termcolor">here</span></span>
    </ion-label>
  </div>
  <!--register checkbox end-->

  <!--signin btn start-->
  <ion-button class="signinbtn" *ngIf="showLogin" expand="block" (click)="gotoLogin()"
    >SIGN IN</ion-button>
  <!--signin btn end-->

  <!--sign up start-->
  <div class="signup" *ngIf="showLogin">
    <span class="signupbtn"  (click)="gotoRegister()">SIGN UP</span>
  </div>
  <!--sign up end-->

  <!--signin btn start-->
  <ion-button class="signinbtn" *ngIf="showRegister" expand="block" (click)="gotoLogin()"
    >SIGN UP</ion-button>
  <!--signin btn end-->

  <!--sign up start-->
  <div class="signup" *ngIf="showRegister">
    <span class="signupbtn"  (click)="showLoginForm()">LOGIN</span>
  </div>
  <!--sign up end-->
</div>
</ion-content>

<ion-content *ngIf="contentHide">

    <div class="section">
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
      <ion-input placeholder="email" ></ion-input>
    </div>
    <div class="section collapsible">
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
      <ion-input placeholder="email" ></ion-input>
    </div>
    <div class="section collapsible">
      <ion-input placeholder="password"></ion-input>
    </div>
    <div class="section">
     <!-- <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
     <ion-input placeholder="email" ></ion-input>
    </div>

    <!-- <div class="section collapsible">
      <ion-input placeholder="name"></ion-input>
    </div> -->


  <button id="toggle-button" (click)="collapse()">Login collapse</button>
  <button id="toggle-button" (click)="collapse()">Register collapse</button>
</ion-content>

<!-- <ion-content>

 <div class="box">
  <img (click)="toggle()" id="move" src="../../assets/svg/home/NicePng_lady-png_1261892.svg" alt="Pic" />
</div>
</ion-content> -->