
.headerimg{
    background: var(--app-red-theme-color);
    height: 550px;
    text-align: center;
    padding-top: 45px;
    border-bottom-left-radius: 60px;
    transition: height 0.3s ease-in-out;
  }
  .headerimgstyle{
    background: var(--app-red-theme-color);
    height: 45px;
  }
  .headerinnerdiv{
    background:white;
    height: 87px;
    border-top-right-radius: 50px;
  }
.logintext{
    text-align: center !important;
}
.welcometxtdiv{
    //margin-block-start: 50px;
    padding-bottom: 26pt;
}
.welcometxt{
    font-size: 21pt;
    line-height: 23pt;
    color: var(--app-btn-txt-color);
    font-style: Poppins-Regular;
}
.inputfield{
    //width: 320pt;
    height: 43pt;
    background: var(--input-field-background-color);
    margin-left: 28pt;
    margin-right: 27pt !important;
    padding-top: 6pt;
    border-radius: 7pt;
}
.emailfield{
    margin-top: 16pt;
}
.forgetdiv{
    margin-left: 28pt;
    margin-right: 27pt;
    margin-top: 16pt;
    margin-bottom: 20pt;
    //padding-bottom: 41pt
}
.forgetdivv{
    margin-left: 28pt;
    margin-right: 27pt;
    margin-top: 16pt;
    //padding-bottom: 41pt
    margin-bottom: 55pt;
}
.forgtdiv{
    float: right;
}
.checkdiv{
    float: left;
}
.remforlable{
    font-size: 12pt;
    color: var(--app-service-text-color);
}
.remembrtxt{
    color: rgb(206,206,206);
    padding-left: 8pt;
}
.signinbtn{
    padding-left: 27pt;
    padding-right: 22pt;
    --background:var(--app-red-theme-color);
    height: 42pt;
    font-size: 16pt;
    margin-top: 30px;

}
.signup{
    text-align: center;
    padding-top: 23pt;
    padding-bottom: 23pt;
}
.signupbtn{
    font-size: 20px;
    color: var(--app-btn-txt-color);
    padding-left: 14px;
}
.termtxt{
    padding-left: 27px;
}
.termcolor{
    color: var(--app-red-theme-color);
    text-decoration: underline;
}
.checkboxes{
    margin-bottom: -5px;
    --background-checked:var(--app-red-theme-color);
    --border-color-checked:var(--app-red-theme-color);	
}
.fieldname{
    padding-left: 11px;
    margin-top: -10px;
}
.logoImg{
    height: 110px;
    margin-top: 35px;
}
.coupleimg{
    padding-top: 64px;
    display: block;
}
.iconsize{
    height: 23px;
}

.landingtxt{
    position: sticky;
    text-align: center;
    padding-top: 28px;
}
.landingtxt ion-label{
    font-size: 16px;
}

.active {
    transition: opacity 2s linear;  
      transform:translate(0);
      //opacity: 1;
}