.seealltxt{
  text-align: right;
}
.insurancegrid{
   margin-left: 13px;
   margin-right: 27pt !important;
   padding-top: 20px;
}
.headerimg{
  background:var(--app-red-theme-color);
  height: 140px;

}
.userImg{
  padding-left: 18px;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
  .card {
    display: inline-block;
    width: 95pt;
    margin-right: -21px;
    //margin-left: -14pt;
  }

  .serviceimg{
    border-radius: 50%;
    height: 40pt;
  }
  .imgservice{
    text-align: center;
    padding-top: 12pt;
  }
  .healthicon{
    border-radius: 50%;
    height: 26pt;
  }
  .healthCard{
    display: inline-block;
    margin-right: -21px;
  }
  .partnerCard{
    height: 64px;
    width: 126px;
  }
  .cardContent{
    margin-left: -17px;
    width: 88pt;
  }
  .serviceHeading{
    color: var(--app-service-text-color);
  }
  .seeall{
    color:var(--app-red-theme-color);
  }
  .contentBackground{
    background: #fafafa;
  }
  .healthimg{
    height: 34px;
    width: 34px;
  }
  .cardActivities{
    display: inline-block;
  }

  div.scrollmenu {

    overflow: auto;
    white-space: nowrap;
    margin-top: -10px;
  }
  
  div.scrollmenu ion-card {
    display: inline-block;
    width: 85%;
    text-align: center;
  
  }
  .activityimg{
    text-align: center;
    height: 40px;
  }
  .activityImg{
    height: 34px;
  }
  .servicesCards{
    margin-top: -32px;
    margin-bottom: -32px;
  }
  .lionsvg{
    text-align: center;
    background: var(--app-background-color);
    height: 86px;
    width: 86px;
    border: 102%;
    padding-top: 12px;
    border-radius: 100%;
    margin: 0 auto;
    position: absolute;
    left: 47%;
    transform: translateX(-50%);
    top: 83%;
    z-index: 1;

  }
  .activityCards{
    margin-right: -4px;
  }
  .userName{
    font-weight: 700;
    font-size: 17px;
  }
.footerdiv{
  position: fixed;
    background: var(--app-background-color);
    bottom: 0;
    width: 100%;
    left: right;
    left: auto;
    right: auto;
    z-index: 0;
}
.footerClass{
  height: 65px;
  bottom: -12px;
}
.footertxt{
  font-size: 9px;
}
.lionImg{
  border-radius: 50%;
}

article {
  max-width: 800px;
  height: 300px;
  overflow-y: hidden;
}

article.expanded {
  height: 628px;
}

button {
  height: 41px;
  padding: 0 2rem;
}
.insuranceCardContent{
  margin-left: -6px; 
  margin-right: -8px;
}
.servicesTxt{
  text-align: center;
  margin-top: -16px;
}
.headerbottom{
  height: 30px;
  background: var(--app-background-color);
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  margin-top: 27px;
}
ion-content{
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
.footertxt{
  padding-bottom: 11px;
}