<ion-content [fullscreen]="true">
  <!--header section start-->
  <div class="headerimg">
    <ion-grid class="insurancegrid">
      <ion-row>
        <!--user profile img start-->
        <ion-col size="3" class="userImg">
          <ion-avatar>
            <img src="../../assets/svg/home/userwoman.svg" />
          </ion-avatar>
        </ion-col>
         <!--user profile img end-->

         <!--username field start-->
        <ion-col size="7">
          <ion-label>Good Morning</ion-label><br />
          <ion-label class="userName">Jeena Jenson</ion-label>
        </ion-col>
        <!--username field end-->
        <ion-col size="2">
          <div>
            <img src="../../assets/svg/home/sun.svg" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="headerbottom"></div>
  </div>
  <!--header section end-->

  <!--insurance services start-->
  <div class="contentBackground">
    <ion-grid class="insurancegrid">
      <ion-row>
        <ion-col>
          <ion-label class="serviceHeading">Insurance Services</ion-label>
        </ion-col>
        <ion-col class="seealltxt">
          <ion-label class="seeall">See all</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="servicesCards">
      <ion-row>
        <div class="scrolling-wrapper">
          <div class="card" *ngFor="let service of insuranceServices">
            <ion-card>
              <div class="imgservice">
                <img class="serviceimg" src="{{service.svg}}" />
              </div>
              <ion-card-content class="insuranceCardContent">
                <div class="ion-text-wrap servicesTxt serviceHeading">
                  <span style="font-size: 14px;">{{service.serviceName}}</span>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-row>
    </ion-grid>
    <!--insurance services end-->

    <!--Health partner services start-->
    <ion-grid class="insurancegrid">
      <ion-row>
        <ion-col size="8">
          <ion-label class="serviceHeading">Health Partner Services</ion-label>
        </ion-col>
        <ion-col size="4" class="seealltxt">
          <ion-label class="seeall">See all</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="servicesCards">
      <ion-row>
        <div class="scrolling-wrapper">
          <div class="healthCard" *ngFor="let service of healthPartner">
            <ion-card class="partnerCard">
              <ion-grid>
                <ion-row>
                  <ion-col size="4">
                    <div class="healthimg">
                      <img class="healthicon" src="{{service.svg}}" />
                    </div>
                  </ion-col>
                  <ion-col size="8">
                    <div class="ion-text-wrap serviceHeading">
                      <span> {{service.serviceName}}</span>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </div>
        </div>
      </ion-row>
    </ion-grid>
    <!--Health partner services end-->

    <!--My activity field start-->
    <div class="insurancegrid">
      <ion-label class="serviceHeading"> My Activites</ion-label>
    </div>
    <div class="scrollmenu">
      <ion-card class="activityCards">
        <ion-grid>
          <ion-row>
            <!--Circular progress bar start-->
            <ion-col size="4">
              <circle-progress
                [percent]="65"
                [radius]="30"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#c12545'"
                [innerStrokeColor]="'#fafafa'"
                [animation]="true"
                [animationDuration]="300"
                [showTitle]="true"
                [showSubtitle]="true"
              ></circle-progress>
            </ion-col>
            <!--Circular progress bar end-->

            <!--Sleep time field start-->
            <ion-col size="4">
              <div class="activityimg">
                <img
                  class="activityImg"
                  src="../../assets/svg/home/002-moon.svg"
                />
              </div>
              <span class="serviceHeading">7h49m Sleep <br />
                last night</span
              >
            </ion-col>
            <!--Sleep time field end-->

            <!--Step field start-->
            <ion-col size="4">
              <div class="activityimg">
                <img
                  class="activityImg"
                  src="../../assets/svg/home/001-footsteps-silhouette-variant.svg"
                />
              </div>
              <span class="serviceHeading"
                >5500<br />
                Steps</span
              >
            </ion-col>
            <!--Step field end-->
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card class="activityCards">
        <ion-grid>
          <ion-row>
            <!--Distance cover field start-->
            <ion-col>
              <div class="activityimg">
                <img
                  class="activityImg"
                  src="../../assets/svg/home/distanceCover.svg"
                />
              </div>
              <span class="serviceHeading"
                >Distance <br />
                covered</span
              >
            </ion-col>
            <!--Distance cover field end-->

            <!--Heart rate field start -->
            <ion-col>
              <div class="activityimg">
                <img
                  class="activityImg"
                  src="../../assets/svg/home/heartRate.svg"
                />
              </div>
              <span class="serviceHeading"
                >Heart<br />
                Rate</span
              >
            </ion-col>
            <!--Heart rate field end-->
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <!--My activity field end-->
    <div class="lionsvg">
      <img class="lionImg" src="../../assets/svg/home/Group 1516.svg" />
    </div>
    <!--Footer section start-->
    <div class="footerdiv">
      <ion-card class="footerClass">
        <ion-grid>
          <ion-row>
            <!--home field start-->
            <ion-col size="2">
              <i class="material-icons seeall">home</i><br />
              <span class="seeall footertxt serviceHeading">Home</span>
            </ion-col>
            <!--home field end-->

            <!--message field start-->
            <ion-col size="2">
              <img
                class="footertxt"
                src="../../assets/svg/home/mail.svg"
              /><br />
              <span class="footertxt serviceHeading">Messages</span>
            </ion-col>
            <!--message field end-->
            <ion-col size="4"></ion-col>
            <!--profile field start-->
            <ion-col size="2">
              <img
                class="footertxt"
                src="../../assets/svg/home/user.svg"
              /><br />
              <span class="footertxt serviceHeading">Profile</span>
            </ion-col>
            <!--profile field end-->

            <!--contact field start-->
            <ion-col size="2">
              <img
                class="footertxt"
                src="../../assets/svg/home/phone.svg"
              /><br />
              <span class="footertxt serviceHeading">Contact Us</span>
            </ion-col>
            <!--contact field end-->
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <!--Footer section end-->
  </div>
</ion-content>

